.navBar{
    background-color: #0F0F0F;
    
}
.brand-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-link,
.nav-dropdown {
  color: white !important; /* Text color for Nav.Link and NavDropdown */
}

.nav-link:hover,
.nav-dropdown .dropdown-toggle::after {
  color: lightgray; /* Hover color for Nav.Link and dropdown arrow color */
}

.navbar-search .form-control {
  color: black; /* Text color for search input (override to black if needed) */
}

.navbar-search .btn-outline-success {
  color: white;
  border-color: white; /* Search button text and border color */
}