.navBar{
    background-color: #0F0F0F;
    
}
.brand-text {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-link,
.nav-dropdown {
  color: white !important; 
}

.nav-link:hover,
.nav-dropdown .dropdown-toggle::after {
  color: lightgray; 
}

.navbar-search .form-control {
  color: black; 
}

.navbar-search .btn-outline-success {
  color: white;
  border-color: white; 
}